<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.evo.mapper.AdminMapper">
	<select id="getSellerRequestListAll"
		resultType="com.jw.evo.vo.seller.SellerRequestVO">
		SELECT * FROM (
		SELECT ROWNUM AS rn, a.* FROM (
		SELECT
		E.*,
		DECODE(REQUEST_STATUS,
		'Request', '승인요청',
		'Approved', '승인완료',
		'Rejected', '승인거절',
		REQUEST_STATUS) AS statusName
		FROM
		EVO_SELLER_REQUEST E
		ORDER BY request_date DESC
		) a
		WHERE ROWNUM &lt;=
		#{end}
		)
		WHERE rn &gt;= #{start}
	</select>


	<select id="getSellerRequestListByStatus"
		resultType="com.jw.evo.vo.seller.SellerRequestVO">
		SELECT * FROM (
		SELECT ROWNUM AS rn, a.* FROM (
		SELECT
		E.*,
		CASE
		WHEN REQUEST_STATUS = 'Request' THEN '승인요청'
		WHEN REQUEST_STATUS =
		'Approved' THEN '승인완료'
		WHEN REQUEST_STATUS = 'Rejected' THEN '승인거절'
		ELSE REQUEST_STATUS
		END AS statusName
		FROM EVO_SELLER_REQUEST E
		WHERE
		REQUEST_STATUS = #{status}
		ORDER BY request_date DESC
		) a
		WHERE ROWNUM
		&lt;= #{end}
		)
		WHERE rn &gt;= #{start}
	</select>
	<select id="countSellerRequestAll" resultType="int">
		SELECT COUNT(*)
		FROM EVO_SELLER_REQUEST
	</select>

	<select id="countSellerRequestByStatus" resultType="int">
		SELECT
		COUNT(*) FROM EVO_SELLER_REQUEST
		WHERE REQUEST_STATUS = #{status}
	</select>
	<update id="updateSellerApprove">
		UPDATE EVO_SELLER_REQUEST
		SET REQUEST_STATUS = 'Approved',
		PROCESSED_DATE = SYSDATE
		WHERE SELLER_REQ_NO = #{sellerReqNo}
		AND REQUEST_STATUS = 'Request'
	</update>
	
	<update id="updateSellerReject">
		UPDATE EVO_SELLER_REQUEST
		SET REQUEST_STATUS ='Rejected',
		PROCESSED_DATE = SYSDATE,
		REJECT_REASON = #{rejectReason}
		WHERE SELLER_REQ_NO = #{sellerReqNo}
		AND REQUEST_STATUS = 'Request'
	</update>

</mapper>