<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw.evo.mapper.userMapper">
	<select id="getNextUserNo" resultType="Long">
		SELECT EVO_USER_SEQ.NEXTVAL from DUAL
	</select>

	<select id="findRoleNoByRoleName" resultType="long">
		SELECT ROLE_NO
		FROM EVO_ROLE
		WHERE ROLE_NAME = #{roleName}
	</select>
</mapper>