@charset "UTF-8";

/* 기본 리셋 */
html, body {
	height: 100%;
	margin: 0;
}

/* 헤더 */
.header {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
}

.header-left {
	display: flex;
	align-items: center;
}
.header-title{
	color: lightgray;
	text-decoration:none;
}



.header-right {
	display: flex;
	align-items: center;
	
}

.header-login {
	color: lightgray;
	text-decoration: none;
	border: 2px solid lightgray;;
	padding: 3px 7px;
	border-radius: 6px;
}

/* 본문 */
.content {
	flex: 1; /* 이게 핵심 */
	padding: 20px;
}

/* 푸터 */
.footer {
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid lightgray;
	position: fixed;
}