@charset "UTF-8";

/* 기본 리셋 */
html, body {
	height: 100%;
	margin: 0;
}

/* 전체 레이아웃 */
body {
	display: flex;
	flex-direction: column;
}

/* 헤더 */
.header {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid lightgray;
	position: fixed;
}

.header-login{
	color:white;
	text-decoration:none;
	border: 1px solid white;
	padding:5px;
}

/* 본문 */
.content {
	flex: 1; /* 이게 핵심 */
	padding: 20px;
}

/* 푸터 */
.footer {
	background-color: black;
	color: white; position : fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid lightgray;
	position: fixed;
}