@charset "UTF-8";

@font-face{
	font-family: 'nanumBold';
	src:url('../font/NanumSquareRoundB.ttf');
}

@font-face{
	font-family: 'musinsaBold';
	src:url("../font/musinsa-Bold.ttf");
}

@font-face{
	font-family: 'musinsaMedium';
	src:url("../font/musinsa-Bold.ttf");
}