html,body{
	display:flex;
	align-items:center;
}


.loginPage-container {
	width: 1200px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #dcdcdc;
}

.loginPage-header {
	width:600px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: center;
	background-color:#d2d2d2;
	
}