html, body {
	height: 100%;
	margin: 0;
}

body a {
	text-decoration: none;
}

:root {
	--max-width: 1440px;
	--min-width: 744px;
	--layout-bg-color: #fafafa;
	--layout-bg-contents-color: #f5f5f5;
}

.loginPage-container {
	width: 100%;
	min-height: var(--min-width);
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--layout-bg-color);;
}

.loginPage-header {
	width: 600px;
	min-width: 600px;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	background-color: var(--layout-bg-contents-color);
	height: 52px;
	align-items: center;
	padding: 12px 16px;
	box-sizing: border-box;
}

.loginPage-title {
	font-size: 17px;
	font-weight: bold;
}

.login-content-box {
	width: 600px;
	min-width: 600px;
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: white;
}

.login-logo-box {
	display: flex;
	justify-content: center; /* 가로 가운데 */
	align-items: center;
	margin-top: 50px;
	flex-direction: column;
}

.login-content-logo {
	font-family: 'musinsaBold';
	font-size: 50px;
}

.login-content-phrase {
	font-family: 'musinsaMedium';
	font-size: 25px;
}

.login-form {
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

.login-form form {
	display: flex;
	flex-direction: column;
}

.login-form input {
	margin: 10px 25px;
	padding: 6px 10px;
	height: 30px;
	border-radius: 6px;
}

.login-form input {
	font-size: 16px;
}

.login-btn {
	font-size: 16px;
	font-weight: bold;
	margin: 20px 25px 0px;
	height: 46px;
	color: white;
	background-color: black;
	border-radius: 6px;
}

.login-forward-signup {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.signup_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	border-radius: 6px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	margin: 20px 25px;
	width: 550px;
}

.login-forward-find {
	display: flex;
	justify-content: center;
}

.login-forward-find a {
	color: gray;
	margin: 0 10px;
}

.loginPage-footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
}

.non-user-order-btn {
	color: gray;
}