@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
}

body a {
	text-decoration: none;
}

:root {
	--max-width: 1440px;
	--min-width: 744px;
	--layout-bg-color: #fafafa;
	--layout-bg-contents-color: #f5f5f5;
}

.signupPage-container{
	width: 100%;
	min-height: var(--min-width);
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--layout-bg-color);;
	
}